<div class="nav-wrapper slim-scroll">
	<ul id="nav" class="nav" data-slim-scroll data-collapse-nav
		data-highlight-active>
		<li class="nav-title"><span data-translate="NAVIGATION"></span></li>
		<li><a md-button aria-label="meanu" href="#/dashboard"><i
				class="zmdi zmdi-home"></i><span data-translate="DASHBOARD"></span></a></li>
		<li><a md-button aria-label="meanu" href="#/"><i
				class="zmdi zmdi-assignment-account"></i><span
				data-translate="REPORT"></span></a>
		<ul>
				<li><a md-button aria-label="meanu" href="#/transaction"><i
						class="fa fa-circle"></i><span data-translate="TRANSACTION"></span></a></li>
			</ul></li>
		<li><a md-button aria-label="meanu" href="#/"><i
				class="zmdi zmdi-balance-wallet"></i><span
				data-translate="PAYMENT_IN"></span></a>
		<ul>
				<li><a md-button aria-label="meanu" href="#/payment"><i
						class="fa fa-circle"></i><span data-translate="PAYMENT_REQUEST"></span></a></li>
				<li><a md-button aria-label="meanu"
					href="#/paymentrequestreports"><i class="fa fa-circle"></i><span
						data-translate="PAYMENT_REQUEST_REPORTS"></span></a></li>
			</ul></li>
	</ul>
</div>
