<div class="nav-wrapper slim-scroll">
	<ul id="nav" class="nav" data-slim-scroll data-collapse-nav
		data-highlight-active>
		<li class="nav-title"><span data-translate="NAVIGATION"></span></li>
		<li><a md-button aria-label="meanu" href="#/dashboard"><i
				class="zmdi zmdi-home"></i><span data-translate="DASHBOARD"></span></a></li>
		<li><a md-button aria-label="meanu" href="#/"><i
				class="zmdi zmdi-account-add"></i><span data-translate="MEMBER"></span></a>
		<ul>
				<li><a md-button aria-label="meanu" href="#/createuser"><i
						class="fa fa-circle"></i><span data-translate="CREATE_USER"></span></a></li>
				<li><a md-button aria-label="meanu" href="#/showuser"><i
						class="fa fa-circle"></i><span data-translate="SHOW_USER"></span></a></li>
			</ul></li>
		<li><a md-button aria-label="Report" href="#/"><i
				class="zmdi zmdi-account-add"></i><span data-translate="REPORT"></span></a>
		<ul>
				<li><a md-button aria-label="meanu" href="#/WalletReport"><i
						class="fa fa-circle"></i><span data-translate="WALLET_REPORT"></span></a></li>
			</ul></li>
		<li><a md-button aria-label="meanu" href="#/"><i
				class="zmdi zmdi-account-add"></i><span data-translate="FEATURES"></span></a>
		<ul>
				<li><a md-button aria-label="meanu" href="#/addfeature"><i
						class="fa fa-circle"></i><span data-translate="ADD_FEATURE"></span></a></li>
				<li><a md-button aria-label="meanu" href="#/showfeatures"><i
						class="fa fa-circle"></i><span data-translate="SHOW_FEATURES"></span></a></li>
				<li><a md-button aria-label="meanu" href="#/userhierarchy"><i
						class="fa fa-circle"></i><span data-translate="Map User"></span></a></li>
			</ul></li>
	</ul>
</div>
